@font-face {
  font-family: "MyriadProBold";
  src: url(../../fonts/MyriadProBold.ttf);
}

.tasksList {
  margin: 25px 0;
  padding: 0 15px 0;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  list-style: none;
}

.tasksList li {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  column-gap: 15px;
}

.tasksList span {
  height: 35px;
  min-width: 35px;
}

.tasksList p {
  margin: 0;
}

.done {
  text-decoration: line-through;
}

.taskInProgress {
  text-decoration: underline;
}

.waiting {
  background: url(./images/waiting.png) no-repeat;
}

.done {
  background: url(./images/done.png) no-repeat;
}

.progress {
  background: url(./images/in-progress.png) no-repeat;
}

.tasksList a {
  text-indent: -9999px;
}

.tasks a {
  display: block;
  background: url(./images/hovering.png) no-repeat;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.tasks .inProgress {
  background-position: -53px 0;
}

.tasks .delete {
  background-position: -105px 0;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.content,
.activeContent {
  width: 837px;
  margin: 0 auto;
  background: rgba(0, 0, 255, .3);
  border: 1px solid #fff;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
  padding: 20px;
}

.tabsNav {
  transform: translate(53.5px, -78px);
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "MyriadProBold";
  line-height: 24px;
}

.list a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 16px 22px;
  background: rgba(0, 0, 255, .3);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
  border: 1px solid #fff;
}

.list a:hover {
  text-decoration: underline;
}

.active a {
  box-shadow: 0 -2px 2px rgb(0 0 0 / 50%);
  font-weight: bold;
  background: #303994
}

.activeContent {
  background: #303994
}

.addTask {
  background: #fff;
  width: 244px;
  font-size: 22px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  text-decoration: underline;
  box-shadow: 0px 2px 5px #000;
}

.editableText {
  height: 45px;
  width: 234px;
  font-size: 22px;
}
