@font-face {
  font-family: "MyriadProLight";
  src: url(../../fonts/MyriadProLight.otf);
}

@font-face {
  font-family: "MyriadProRegular";
  src: url(../../fonts/Myriad\Pro\Regular.ttf);
}

.loginForm {
  border: 1px solid #fff;
  padding: 20px;
  min-height: 250px;
}

.loginForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loginForm li {
  position: relative;
}

.loginForm input {
  font: 24px/24px "MyriadProLight";
  padding: 5px;
  width: 272px;
  height: 55px;
  border-radius: 7px;
  margin: 0 20px 15px 0;
  border: 1px solid #fff;
  font-style: italic;
  position: relative;
}

.loginForm .email::before,
.loginForm .name::before,
.loginForm .password::before {
  background: url(../../images/form-elements.png) no-repeat;
  content: "";
  width: 17px;
  position: absolute;
  z-index: 2;
  left: 250px;
  top: 29px;
}

.loginForm .email::before {
  height: 13px;
}

.loginForm .name::before {
  background-position: 0 -15px;
  height: 17px;
}

.loginForm .password::before {
  background-position: 0 -33px;
  height: 18px;
}

.loginForm  .error {
  border: 3px solid #f17777;
}

.loginForm .success {
  border: 3px solid green;
}

.loginForm input::placeholder {
  color: #000;
  padding: 0 0 0 30px;
}

.loginForm input[type=submit] {
  padding: 0;
  margin: 0;
  background: #0ff;
  color: #fff;
  height: 53px;
  width: 143px;
  border: 1px solid #b1bad8;
  box-shadow: 0 0 5px #b1bad8;
}

.info {
  background: #f9f8c9;
  border-radius: 4px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 23px;
  left: 310px;
  padding: 0 25px;
}

.info::before {
  background: url(../../images/msg-figure.png) no-repeat;
  content: "";
  width: 14px;
  position: absolute;
  height: 12px;
  left: -12px;
  top: 15px;
}

.textInfo {
  color: #ed2323;
  font-family: "MyriadProRegular";
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 0 8px;
}
