@font-face {
  font-family: "MyriadProRegular";
  src: url(../../fonts/Myriad\Pro\Regular.ttf);
}

header {
  font-size: 26px;
  line-height: 26px;
  display: flex;
  align-items: center;
  column-gap: 75px;
  padding: 23px 0 0;
  margin: 0 0 60px;
  font-family: "MyriadProRegular";
}

header .list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 68px;
}

.list a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.list a::before {
  background: url(../../images/menu.png) no-repeat;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  right: -30px;
  bottom: 2px;
  position: absolute;
}

.list .task-list::before {
  background-position: -25px 0;
}

.list .contacts::before {
  background-position: -52px 0;
}
