.addTask {
  background: #fff;
  width: 244px;
  font-size: 22px;
  line-height: 55px;
  text-align: center;
  text-decoration: underline;
  box-shadow: 0px 1px 7px #000;
  margin: 0 0 14px 59px;
}

.editableText {
  height: 45px;
  width: 234px;
  font-size: 22px;
}
