@font-face {
  font-family: "MyriadProBold";
  src: url(../../../fonts/MyriadProBold.ttf);
}

.tasksList {
  margin: 34px 0 52px;
  padding: 0 15px 0;
  font-size: 24px;
  line-height: 39px;
  color: #fff;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.tasksList li {
  display: flex;
  margin: 0 0 15px;
  height: 35px;
  min-width: 35px;
  counter-increment: my-awesome-counter;
  padding: 0 0 0 65px;
  white-space: nowrap;
}

.tasksList .updateTask:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tasksList li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}

.tasksList p {
  margin: 0;
  padding: 0 0 0 50px;
}

.tasksList .waiting {
  background: url(./images/waiting.png) no-repeat;
}

.tasksList .done {
  text-decoration: line-through;
  background: url(./images/done.png) no-repeat;
}

.tasksList .progress {
  background: url(./images/in-progress.png) no-repeat;
  background-position: 0 5px;
}

.tasksList button {
  margin: 0 7px;
  background: url(./images/buttons.png) no-repeat;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: none;
}

.tasksList button:hover {
  background: url(./images/hoveringButtons.png) no-repeat;
}

.tasksList .inProgress {
  background-position: -53px 0;
}

.tasksList .delete {
  background-position: -105px 0;
}

.tasksList .inProgress:hover {
  background-position: -53px 0;
}

.tasksList .delete:hover {
  background-position: -105px 0;
}

.buttons {
  margin: 0 0 0 30px;
}

.active a {
  box-shadow: 0 -2px 2px rgb(0 0 0 / 50%);
  font-weight: bold;
  background: #303994
}

.activeContent {
  background: #303994
}
