.list {
  font: 18px/24px "MyriadProBold";
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: end;
}

.list a {
  display: block;
  color: #fff;
  padding: 4px 17px;
  background: rgba(0, 0, 255, .3);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
  border: 1px solid #fff;
}

.list a:hover {
  background: #303994;
  cursor: pointer;
}

.active a {
  box-shadow: 0 -2px 2px rgb(0 0 0 / 50%);
  font-weight: bold;
  background: #303994;
}

.activeContent {
  margin: 0 auto 100px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
  padding: 20px;
  background: #303994
}

.dates {
  font: 12px/24px "MyriadProRegular";
}

.content {
  width: 837px;
}
