.menu {
  position: relative;
  padding: 0 0 15px;
}

.dropDown {
  background: rgba(255,255,255, 0.3);
  flex-direction: column;
  padding: 7px 17px 0;
  min-width: 90px;
  position: absolute;
  align-items: center;
  top: 33px;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  margin: 0;
}

.dropDown a {
  text-decoration: none;
  color: #fff;
}

.dropDown a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 5px
}

.dropDown li {
  font-size: 26px;
  line-height: 24px;
  white-space: nowrap;
  margin: 0 0 7px;
}

.menu:hover .dropDown {
  display: flex;
}

.userName {
  display: block;
  font-size: 26px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background: url(./images/user.png) no-repeat;
  background-position: 100% 0;
  padding: 0 32px 0 0;
}

.userName:hover {
  color: #060e9a;
  text-decoration: underline;
}

.userName:hover {
  background: url(./images/hoverUser.png) no-repeat;
  background-position: 100% 0;
}
