@keyframes loader {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.preloader {
  position: relative;
}

.loader {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #086dc0;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s linear infinite;
  top: 100px;
  left: 50%;
}
