header {
  font-size: 26px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 0.1fr 1fr auto;
  align-items: center;
  padding: 23px 0 0;
  margin: 0 0 60px;
}

header .list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 68px;
}

.list a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.list a:hover {
  color: #060e9a;
  text-decoration: underline;
}

.list a::before {
  background: url(./images/menu.png) no-repeat;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  right: -30px;
  bottom: 2px;
  position: absolute;
}

.list a:hover::before {
  background: url(./images/hoverMenu.png) no-repeat;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  right: -30px;
  bottom: 2px;
  position: absolute;
}

.list .home:hover::before {
  background-position: 2px 2px;
}

.list .taskList:hover::before {
  background-position: -23px 2px;
}

.list .contacts:hover::before {
  background-position: -46px 2px;
}

.list .taskList::before {
  background-position: -25px 0;
}

.list .contacts::before {
  background-position: -52px 0;
}

.createUser {
  margin: 0 0 0 220px;
  font-size: 26px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background: url(./images/user.png) no-repeat;
  background-position: 140px 0;
  width: 165px;
}

.createUser:hover {
  color: #060e9a;
  background: url(./images/hoverUser.png) no-repeat;
  background-position: 140px 0;
  text-decoration: underline;
}
